.equipment-section {
  padding: 60px 0;
  text-align: center;
  background: #fff;
}

.subheading {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-heading span {
  color: red;
}

.description {
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.description .highlight {
  color: red;
  font-weight: bold;
}

.slider-container {
  display: flex;
  justify-content: center;
  
  gap: 20px;
}

.slide {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
}

.slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
